@charset "utf-8";
::-webkit-scrollbar{width:2px;height:10px;}::-webkit-scrollbar-button:vertical{display:none}::-webkit-scrollbar-corner,::-webkit-scrollbar-track{background-color:#e2e2e2}::-webkit-scrollbar-thumb{border-radius:0;background-color:rgba(0,0,0,.3)}::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,.35)}::-webkit-scrollbar-thumb:vertical:active{background-color:rgba(0,0,0,.38)}

html,body{overflow-x:hidden!important;}
body
{
	BORDER-RIGHT: #999999 0px solid; 
	BORDER-TOP: #999999 0px solid;
	FONT-SIZE: 15px; 
	MARGIN: 0px; 
	BORDER-LEFT: #999999 0px solid;
	LINE-HEIGHT: 18px; 
	BORDER-BOTTOM: #999999 0px solid;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
.listItem 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	BACKGROUND-COLOR: #ffffff;
}
.listhover 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	 BACKGROUND-COLOR: #F0F8FF;
}
.font1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	background:#c1c1c1;
	
}
.font2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.font3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
}
.font_red {
	color:#AE0000;
}
a, a:visited
{
	color: #000066;
	text-decoration: none;
}
.a:link {
	color: #000066;
	text-decoration: none;
}
.a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
}
.a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a2:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a2:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a2:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	text-decoration: none;
}
.a1:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.a1:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.a1:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.a1:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.a2:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
}
.a2:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
}
.a2:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
}
.a2:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	color: #003366;
	text-decoration: none;
}

.layui-layer-setwin {
    top: 10px !important;
}
.layui-layer-title {
    height: 32px !important;
    line-height: 32px !important;
}