@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend { margin: 0; padding: 0; border: 0; outline: 0; }

ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after,q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }

input[type=text]{height:26px;width:200px;border:1px solid #cccccc;line-height:26px}
input[type=password]{height:26px;width:200px;border:1px solid #cccccc;line-height:26px}
textarea{height:50px;width:400px;border:1px solid #cccccc;line-height:26px}
select{height:26px;line-height:26px}
input[type=button]
{
    background: #0AE;
    line-height: 30px;
    padding: 0px 30px;
    border: 0px none;
    color: #FFF;
    height: 30px;
    cursor: pointer;
	border-radius:4px;
	font-size:18px;
}
.btn {
    background: #0AE;
    line-height: 30px;
    padding: 0px 30px;
    border: 0px none;
    color: #FFF;
    height: 30px;
    cursor: pointer;
	border-radius:4px;
	font-size:18px;
}
	span.invalid,
	div.yiiForm textarea.invalid,
	div.yiiForm select.invalid
	{
		background: #FEE;
		border-color: #ffffff;
	}
	div.yiiForm label.invalid,
	div.yiiForm span.invalid
	{
		color: #ffffff;
	}
.STYLE1 {color: #FF0000}
	
.mytable
{
	border:1px #cfdae8; background-color:#cfdae8;
}
.mytable tr
{
	border:1px #cfdae8; background-color:#fff;
}
.mytable tr td
{
	 padding-left:2px;padding-right:10px;padding-top:6px;padding-bottom:6px;
}
.x-tbar-page-number
{
	 width:50px!important;
}
.width55
{
	 width:55px;
}
