@charset "utf-8";

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

h3 {
  font-size: 18px;
  padding: 10px 0;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.fa {
  font-size: 14px;
}

.container {
  padding-left: 9px;
  padding-right: 9px;
}

.row {
  margin-left: -9px;
  margin-right: -9px;
}



.main-menu-wrapper {
  background-color: #f6f6f6;
  border-bottom: 2px solid #f52030;
}
@media (max-width: 767px) {
  .main-menu-wrapper {
    border: none;
    background-color: transparent;
  }
}
.main-menu-wrapper .main-menu {
  min-height: 36px;
  position: relative;
}
.main-menu-wrapper .main-menu .parent {
  float: left;
}
.main-menu-wrapper .main-menu .parent .open-submenu {
  display: none;
}
.main-menu-wrapper .main-menu .parent > a {
  display: block;
  padding: 8px 20px;
  color: #333;
}
@media (min-width: 768px) {
  .main-menu-wrapper .main-menu .parent > a.with-submenu:after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    padding-left: 4px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}
.main-menu-wrapper .main-menu .parent > a:hover:after {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-menu-wrapper .main-menu .parent:hover {
  background-color: #e2e2e2;
}
@media (max-width: 768px) {
  .main-menu-wrapper .main-menu .parent:hover {
    background-color: transparent;
  }
}
.main-menu-wrapper .main-menu .parent:hover .submenu {
  top: 100%;
  visibility: visible;
  opacity: 1;
}
@media (min-width: 768px) {
  .main-menu-wrapper .main-menu .parent:hover .submenu {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
}
.main-menu-wrapper .main-menu .parent:focus {
  background-color: #e2e2e2;
}
@media (max-width: 767px) {
  .main-menu-wrapper .main-menu {
    background-color: #eee;
    display: none;
    width: 100%;
  }
  .main-menu-wrapper .main-menu.open {
    display: block;
  }
  .main-menu-wrapper .main-menu .parent {
    display: block;
    float: none;
    padding: 6px 10px;
    font-size: 14px;
    position: relative;
  }
  .main-menu-wrapper .main-menu .parent > a {
    padding: 0 10px;
    line-height: 30px;
    font-weight: 400;
    border-bottom: 1px solid #cacaca;
    color: #555;
  }
  .main-menu-wrapper .main-menu .parent .open-submenu {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: -5px;
    right: 5px;
    line-height: 40px;
    color: #888;
    text-align: center;
    font-size: 20px;
  }
  .main-menu-wrapper .main-menu .parent:last-of-type > a {
    border-bottom: none;
  }
  .main-menu-wrapper .main-menu .submenu {
    position: relative;
    top: auto;
    left: auto;
    display: none;
    visibility: visible;
  }
}
.main-menu-wrapper .width-full {
  left: 0;
  width: 100%;
}
.main-menu-wrapper ul {
  padding: 0;
  margin: 0;
}
.main-menu-wrapper .main-menu-mobile {
  display: none;
}
@media (max-width: 767px) {
  .main-menu-wrapper .main-menu-mobile {
    display: block;
    background-color: #383d40;
    height: 43px;
    line-height: 43px;
    padding: 0 10px;
    position: relative;
    color: #fff;
    font-size: 14px;
  }
}
.main-menu-wrapper .main-menu-mobile .main-menu-toggle {
  position: absolute;
  right: 10px;
}
.main-menu-wrapper .main-menu-mobile .main-menu-toggle i {
  font-size: 16px;
}
.main-menu-wrapper .submenu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 140%;
  z-index: 100;
  background: #FFFFFF;
  padding: 20px;
  min-width: 240px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
}
@media (max-width: 767px) {
  .main-menu-wrapper .submenu {
    opacity: 1;
  }
}

.submenu-wrapper h4.title {
  margin: 0;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 0 10px 0;
}
.submenu-wrapper h5 {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0;
  margin: 0;
}
.submenu-wrapper a.basic {
  padding: 6px 0;
  font-size: 12px;
  min-height: inherit;
  display: block;
  color: #666;
}
.submenu-wrapper a.basic:before {
  font-family: 'FontAwesome';
  font-size: 14px;
  content: "\f105";
  margin-right: 10px;
}
.submenu-wrapper a.basic:hover, .submenu-wrapper a.basic:hover:before {
  color: #f52030;
}
.submenu-wrapper li:last-of-type a {
  border: none;
}
.submenu-wrapper .submenu-image-wrapper {
  margin-bottom: 15px;
}
.submenu-wrapper .submenu-category-wrapper {
   clear:both;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block {
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: none;
  position: relative;
  width: 100%;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block:hover .product-image {
  border-color: #f52030;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block:hover .product-info .name {
  color: #f52030;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-image {
  width: 100px;
  float: left;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-info {
  margin-left: 110px;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-info .name {
  display: block;
  margin-top: 0;
  margin-bottom: 5px;
  overflow: hidden;
  font-size: 13px;
  color: #555;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-info .price {
  width: 100%;
  font-size: 13px;
  color: #35373e;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-info .price .price-new {
  color: #35373e;
  font-weight: 600;
}
.submenu-wrapper .submenu-product-list-wrapper .product-block .product-info .price .price-old {
  font-size: 12px;
  color: #999999;
  text-decoration: line-through;
}
.submenu-wrapper .submenu-product-grid-wrapper {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.submenu-wrapper .submenu-product-grid-wrapper:hover {
  border: 1px solid #f52030;
}
@media (max-width: 768px) {
  .submenu-wrapper .submenu-product-grid-wrapper .product-image a {
    overflow: hidden;
    display: inline-block;
  }
}
.submenu-wrapper .submenu-product-grid-wrapper .product-image .discount-label {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 1;
  height: 18px;
  padding: 0 4px;
  line-height: 18px;
  font-size: 10px;
  background-color: #EE3729;
  color: #FFFFFF;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-image .discount-label:before {
  border-color: #EE3729 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  bottom: -9px;
  content: "";
  pointer-events: none;
  position: absolute;
  left: 0;
  transition-duration: 0.3s;
  transition-property: bottom;
  z-index: -1;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info {
  margin-top: 10px;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .name {
  height: 15px;
  line-height: 15px;
  margin-bottom: 5px;
  padding: 0;
  margin-top: 0;
  overflow: hidden;
  font-weight: normal;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .name a {
  margin-bottom: 0;
  font-size: 14px;
  font-family: inherit;
  text-transform: none;
  color: #555;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .name a:hover {
  color: #f52030;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .price {
  width: 100%;
  font-size: 13px;
  color: #35373e;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .price .price-new {
  color: #35373e;
  font-weight: 600;
}
.submenu-wrapper .submenu-product-grid-wrapper .product-info .price .price-old {
  font-size: 12px;
  color: #999999;
  text-decoration: line-through;
}
.submenu-wrapper .submenu-brand-wrapper {
  margin-bottom: 10px;
}
.submenu-wrapper .submenu-brand-wrapper a {
  display: block;
  text-align: center;
}
.submenu-wrapper .submenu-brand-wrapper a span {
  display: block;
  height: 20px;
  overflow: hidden;
}
.submenu-wrapper .submenu-brand-wrapper:hover {
  opacity: 0.8;
  outline: 1px solid #f52030;
}
.submenu-wrapper .submenu-image-wrapper a {
  position: relative;
  overflow: hidden;
  display: block;
}
.submenu-wrapper .submenu-image-wrapper a:before {
  box-sizing: border-box;
  border: 0px solid rgba(255, 255, 255, 0.2);
  bottom: 0;
  opacity: 0;
  content: "";
  left: 0;
  overflow: visible;
  position: absolute;
  z-index: 9;
  right: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.submenu-wrapper .submenu-image-wrapper a:hover:before {
  background-color: rgba(0, 0, 0, 0.3);
  border: 15px solid rgba(255, 255, 255, 0.3);
  opacity: 1;
}
.submenu-wrapper .submenu-html-wrapper {
  margin-bottom: 20px;
}
.submenu-wrapper .submenu-html-wrapper .image {
  margin-bottom: 10px;
}
.submenu-wrapper .submenu-html-wrapper .info {
  padding: 0 5px;
}
.submenu-wrapper .submenu-html-wrapper h5 {
  font-size: 13px;
  padding: 10px 0;
}
.submenu-wrapper .submenu-html-wrapper .description {
  color: #888;
}
.submenu-wrapper .submenu-html-wrapper .action a {
  font-size: 12px;
  padding: 6px 15px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}

.vertical-menu-wrapper {
  float: left;
  z-index: 99;
  position: relative;
  min-width: 160px;
  background-color: #e10c1c;
  cursor: pointer;
  border-radius:3px 3px 0 0;
}
.vertical-menu-wrapper:hover .vertical-menu {
  display: block;
}
@media () {
  .vertical-menu-wrapper {
    display: none;
  }
}
.vertical-menu-wrapper > .title {
  margin: 0;
  padding: 0 20px;
  height: 39px;
  line-height: 36px;
  color: #fff;
}
.vertical-menu-wrapper > .title i {
  float: right;
  line-height: inherit;
}
.vertical-menu-wrapper.default-open .vertical-menu {
  display: block;
}
.vertical-menu-wrapper .vertical-menu {
  width: 100%;
  display: none;
  background-color: #ef2c3b;
  position: absolute;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list {
  position: static;
  float: none;
  width: 170px;
}
.list-name
{
	height:35px;overflow:hidden;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name > a {
  display: block;white-space:nowrap;
  color: #fff;
  padding: 8px 13px;
  font-size: 13px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name > a:hover {
  background-color: #d70212;white-space:nowrap;
  color: #fff;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name > a:hover:after {
  color: #fff;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name > a img {
  margin-right: 5px;
  width: 18px;
  max-width: 100%;
  height: auto;
  margin-top: -3px;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name:hover .submenu-wrapper {
  left: 100%;
  visibility: visible;
  opacity: 1;
}
.vertical-menu-wrapper .vertical-menu .vertical-menu-list .list-name:last-child > a {
  border-bottom: none;
}
.vertical-menu-wrapper .vertical-menu .submenu-wrapper {
  right: auto;
  left: 120%;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 999;
  display: block;
  min-width: 220px;
  padding: 0px 20px 0px 20px;
  min-height: 100%;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
}

.submenu-category-wrapper.horizontal .title {
  float: left;
  padding-right: 18px;
  margin-right: 5px;
  border-bottom: none;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin-top: 3px;
}
.submenu-category-wrapper.horizontal .title a {
  color: #333 !important;
}
.submenu-category-wrapper.horizontal .title:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #444;
  content: "\f105";
  position: absolute;
  right: 3px;top:2px;
}
.submenu-category-wrapper.horizontal ul {
  overflow: hidden;
  padding-bottom: 5px;
  border-bottom: 1px dashed #eee;
}
.submenu-category-wrapper.horizontal ul:last-of-type {
  border: none;
}
.submenu-category-wrapper.horizontal li {
  float: left;
}
.submenu-category-wrapper.horizontal li a {
  padding: 0;
  font-size: 13px;
  border-left: 1px solid #e8e8e8;
  padding-left: 8px;
  padding-top: 3px;
  padding-right: 8px;
  margin-bottom: 6px;
}
.submenu-category-wrapper.horizontal li a:before {
  display: none;
}
.submenu-content
{
	padding-top:10px;
}




.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "\f0c9";
}
bootstrap.min.css:5
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



