body {
  padding:10px;
}

.product {
  width:80%;
  padding:10px;
  margin-left:20px;
  margin-bottom:20px;
  border-bottom:1px dashed black;  
}
.product, .title {
	font:normal 12px Arial,sans-serif;
}
.title {
  font-size:14px;
  font-weight:bold;
  color:#000080
}
.listPrice {
  text-decoration:line-through;
}
.yourPrice {
  font-weight:bold;
  color:#800000;
}
.image {
  margin-right:20px;
}

em {
  font-size:12px;
  color:green;
}